body{
  font-family: sans-serif;
}

.label-float{
  position: relative;
  padding-top: 13px;
}

.label-float input{
  border: 1px solid lightgrey;
  color: grey;
  border-radius: 5px;
  outline: none;
  min-width: 250px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance:none;
  position: relative;
  left: 25px;
}

.label-float input:focus{
  border: 2px solid #1a73e8;
}

.label-float input::placeholder{
  color:transparent;
}

.label-float label{
  pointer-events: none;
  color: grey;
  position: absolute;
  top: calc(50% - 10px);
  left: 110px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: white;
  padding: 5px;
  font-size: 17px;
  box-sizing: border-box;
}

.label-float input:required:invalid + label{
  color: red;
}
.label-float input:focus:required:invalid{
  border: 2px solid red;
}
.label-float input:required:invalid + label:before{
  content: '*';
}
.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  top: 0;
  color: #1a73e8;
}
.label-float input:focus,
.label-float input:not(:placeholder-shown){
  border: 2px solid #1a73e8;
}

/*
* utilizando class + position
*/
#box_icone_busca{
  width: 30px;
  height: 30px;
  padding: 10px;
  position: relative;
  left: -30px;
  top: 1px;
  }
  #icone_busca {
  color: rgba(0, 0, 0, 0.65);;
  }

.label-float .border-teal:focus + label,
.label-float .border-teal:not(:placeholder-shown) + label{
  font-size: 13px;
  top: 0;
  color: teal;
}

.label-float .border-teal:focus,
.label-float .border-teal:not(:placeholder-shown){
  border: 2px solid teal;
}


